@model Seminar.Model.Car
@{
    ViewBag.Title = "Dodavanje automobila";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    <text>
        @Html.Partial("_CreateOrEdit")
    </text>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}