@{
    ViewBag.Title = "O aplikaciji";
}
<h2>@ViewBag.Title</h2>


<p>Aplikacija za vođenje evidencije putnih naloga.</p>
<p>Alikacija je napravljena za predmet: Razvoj web aplikacija u ASP.NET MVC tehnologiji.</p>
