@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title</h2>



<address>
    Anton Krizmanić<br />
    <strong>Email:</strong>   <a href="mailto:akrizmani@tvz.com">akrizmani@tvz.com</a><br />
</address>

